<template>
  <div class="profileDetails ma-2">
    <v-text-field label="Name" v-model="profileName"></v-text-field>
    <v-btn @click="$store.commit('selectCondition', profileId)">
      <v-icon class="mr-2">edit</v-icon>
      {{ getCondition(profileCondition).name }}
    </v-btn>
    <v-btn color="success" @click="selectClick(false)">
      <v-icon class="mr-2">arrow_forward</v-icon>
      <template v-if="task">{{ task.name }}</template>
      <template v-else>Add Task</template>
    </v-btn>
    <v-btn color="error" @click="selectClick(true)">
      <v-icon class="mr-2">arrow_back</v-icon>
      <template v-if="exitTask">{{ exitTask.name }}</template>
      <template v-else>Add Exit Task</template>
    </v-btn>
    <v-btn flat icon color="error" @click="remove">
      <v-icon class="mr-2">delete</v-icon>
    </v-btn>

    <SelectDialog
      :show="modifyTask"
      :actions="tasks"
      title="Select Task"
      @close="modifyTask=false"
      @selected="selectTask"
    />
  </div>
</template>

<script>
import SelectDialog from "../SelectDialog.vue";
import { getCondition } from "../../tasker/conditions";

export default {
  name: "ProfileDetails",
  components: {
    SelectDialog
  },
  data: () => ({
    modifyTask: false,
    isExitTask: false
  }),
  computed: {
    profileName: {
      get() {
        return this.$store.state.profiles[this.$store.state._currentProfile]
          .name;
      },

      set(value) {
        this.$store.commit("setCurrentProfileName", value);
      }
    },

    profileId() {
      return this.$store.state.profiles[this.$store.state._currentProfile].id;
    },

    profileCondition() {
      return this.$store.state.profiles[this.$store.state._currentProfile]
        .condition;
    },

    task() {
      return this.$store.state.tasks[
        this.$store.state.profiles[this.$store.state._currentProfile].task
      ];
    },

    exitTask() {
      return this.$store.state.tasks[
        this.$store.state.profiles[this.$store.state._currentProfile].exitTask
      ];
    },

    tasks() {
      let taskList = {};

      this.$store.getters.tasks.forEach(task => {
        taskList[task.name] = task.id;
      });

      return taskList;
    }
  },
  methods: {
    selectTask(task) {
      this.$store.commit("setCurrentProfileTask", {
        task,
        exit: this.isExitTask
      });
    },
    selectClick(exit) {
      if (exit && this.exitTask) {
        this.$store.commit("selectTask", this.exitTask.id);
        return;
      } else if (!exit && this.task) {
        this.$store.commit("selectTask", this.task.id);
        return;
      }

      this.modifyTask = true;
      this.isExitTask = exit;
    },
    getCondition,
    remove() {
      this.$emit("remove");
    }
  }
};
</script>
