<template>
  <v-list-tile-content class="animated">
    <template v-if="_currentProfile !== object.id">
      <v-list-tile-title v-text="object.name"></v-list-tile-title>
      <v-list-tile-sub-title>
        {{ getCondition(object.condition).name }}
        <br>

        <template v-if="task">
          <v-icon small color="green">arrow_forward</v-icon>
          {{ task.name }}
          <br>
        </template>

        <template v-if="exitTask">
          <v-icon small color="red">arrow_back</v-icon>
          {{ exitTask.name }}
        </template>
      </v-list-tile-sub-title>
    </template>
    <template v-else>
      <profile-details @remove="remove" class="bottom"/>
    </template>
  </v-list-tile-content>
</template>

<script>
import { mapState } from "vuex";
import { getCondition } from "../../tasker/conditions";

import ProfileDetails from "./ProfileDetails.vue";

export default {
  name: "Profile",
  props: ["object"],
  components: {
    ProfileDetails
  },
  methods: {
    getCondition,
    remove(){
      this.$emit("remove");
    }
  },
  computed: mapState({
    task(state) {
      return state.tasks[this.object.task];
    },
    exitTask(state) {
      return state.tasks[this.object.exitTask];
    },

    _currentProfile: "_currentProfile"
  })
};
</script>
