<template>
  <div class="taskEdit ma-2">
    <v-text-field label="Name" v-model="taskName"></v-text-field>

    <v-btn flat icon color="error" @click="remove">
      <v-icon class="mr-2">delete</v-icon>
    </v-btn>
  </div>
</template>

<script>
export default {
  name: "TaskDetails",
  computed: {
    taskName: {
      get() {
        return this.$store.state.tasks[this.$store.state._currentTask].name;
      },

      set(value) {
        this.$store.commit("setCurrentTaskName", value);
      }
    }
  },
  methods: {
    remove() {
      this.$emit("remove");
    }
  }
};
</script>
