<template>
  <div class="task">
    <v-list-tile-content>
      <v-list-tile-title v-text="object.name" v-if="_currentTask !== object.id"></v-list-tile-title>
      <template v-else>
        <task-Details @remove="remove"></task-Details>
      </template>
    </v-list-tile-content>
  </div>
</template>

<script>
import { mapState } from "vuex";
import TaskDetails from "./TaskDetails";

export default {
  name: "Task",
  props: ["object"],
  components: {
    TaskDetails
  },
  computed: mapState({
    _currentTask: "_currentTask"
  }),
  methods:{
    remove(){
      this.$emit("remove");
    }
  }
};
</script>
