<template>
  <div class="option">
    <v-layout row v-if="arg.type === 0">
      <v-flex>
        <v-slider
          class="pr-3"
          :label="arg.name"
          v-model="localValue"
          @input="apply()"
          :min="inputSpec[0]"
          :max="inputSpec[1]"
        ></v-slider>
      </v-flex>
      <v-flex shrink xs2>
        <v-text-field v-model="localValue" @input="apply()" type="number"></v-text-field>
      </v-flex>
    </v-layout>

    <v-text-field
      v-else-if="arg.type === 1 && !inputSpec.includes('t')"
      :label="arg.name"
      v-model="localValue"
      @input="apply()"
    ></v-text-field>

    <v-textarea
      v-else-if="arg.type === 1 && inputSpec.includes('t')"
      :label="arg.name"
      v-model="localValue"
      @input="apply()"
    ></v-textarea>

    <!-- this is an app picker todo more friendly way -->
    <v-text-field
      v-else-if="arg.type === 2"
      :label="arg.name"
      v-model="localValue"
      @input="apply()"
    ></v-text-field>

    <v-checkbox v-else-if="arg.type === 3" :label="arg.name" v-model="localValue" @change="apply()"></v-checkbox>

    <!-- todo maybe an icon picker??? -->
    <v-text-field
      v-else-if="arg.type === 4"
      :label="arg.name"
      v-model="localValue"
      @input="apply()"
    ></v-text-field>

    <template v-else-if="arg.type === 5">
      <!-- "Output Variables", read only inside Tasker, we don't have the data so it's invisible -->
    </template>

    <template v-else>
      <b>{{arg.name}}:</b>
      ({{arg.type}},{{arg.inputSpec}}) (unsupported, tell the dev quick)
    </template>
  </div>
</template>

<script>
export default {
  name: "Option",
  props: ["arg", "currentValue"],

  computed: {
    inputSpec() {
      return this.arg.inputSpec.split(":");
    }
  },

  data() {
    return {
      localValue: null
    };
  },
  methods: {
    apply() {
      this.$emit("change", this.arg.name, this.localValue);
    },
    chooseValueType() {
      const inputSpec = this.arg.inputSpec.split(":");

      if (this.currentValue) return this.currentValue;

      if (this.arg.type === 0) return inputSpec[2] || 0;
      if (this.arg.type === 1) return "";
      if (this.arg.type === 2) return "com.example.app";
      if (this.arg.type === 3) return false;
      if (this.arg.type === 4)
        return "android.resource://net.dinglisch.android.taskerm/drawable/...";

      return null;
    }
  },
  created() {
    this.localValue = this.chooseValueType();
  }
};
</script>
