<template>
  <v-layout fill-height>
    <v-flex>
      <v-toolbar dense>
        <v-toolbar-title>Profiles</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-items class="hidden-sm-and-down">
          <v-tooltip bottom>
            <template v-slot:activator="{ on }">
              <v-btn small color="success" v-on="on" @click="newProfile=true">
                <v-icon>add</v-icon>
              </v-btn>
            </template>
            <span>New Profile</span>
          </v-tooltip>
        </v-toolbar-items>
      </v-toolbar>
      <v-list three-line class="elevation-2">
        <template v-for="profile in profiles">
          <v-divider :key="`${profile.id}_divider`"></v-divider>
          <v-list-tile ripple @click="$store.commit('selectProfile', profile.id)" :key="profile.id">
            <profile @remove="removeProfile(profile.id)" :object="profile"></profile>
          </v-list-tile>
        </template>
      </v-list>
    </v-flex>

    <v-flex md6 class="animated scrollable elevation-4" v-if="showConditionEdit">
      <conditionEdit/>
    </v-flex>

    <SelectDialog
      :show="newProfile"
      :actions="conditions"
      title="Select Condition"
      @close="newProfile=false"
      @selected="select"
    />
  </v-layout>
</template>

<script>
import Profile from "../components/profiles/Profile.vue";
import SelectDialog from "../components/SelectDialog.vue";
import conditionEdit from "../components/ConditionEdit";

import { mapState } from "vuex";

export default {
  name: "Profiles",
  components: {
    Profile,
    SelectDialog,
    conditionEdit
  },
  computed: {
    profiles: function() {
      return this.$store.state.profiles;
    },
    showConditionEdit: function() {
      return this.$store.state._currentCondition !== null;
    }
  },
  data: () => ({
    conditions: {},
    newProfile: false
  }),
  methods: {
    select(condition) {
      this.$store.commit("addProfile", condition);
    },
    removeProfile(id) {
      this.$store.commit("removeProfile", id);
    }
  },
  created() {
    import(/* webpackChunkName: "taskerConditions" */ "../tasker/conditions.js").then(
      _actions => {
        this.conditions = _actions.default;
      }
    );
  }
};
</script>

<style lang="scss">
.v-list--three-line .v-list__tile {
  height: 100% !important;
}
</style>
