<template>
  <v-layout fill-height>
    <v-flex v-bind="taskListLayout" class="animated scrollable">
      <div class="tasks">
        <v-toolbar dense>
          <v-toolbar-title>Tasks</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-tooltip bottom>
              <template v-slot:activator="{ on }">
                <v-btn small color="success" v-on="on" @click="$store.commit('addTask')">
                  <v-icon>add</v-icon>
                </v-btn>
              </template>
              <span>New Task</span>
            </v-tooltip>
          </v-toolbar-items>
        </v-toolbar>
        <v-list three-line class="elevation-2">
          <template v-for="task in tasks">
            <v-divider :key="`${task.id}_divider`"></v-divider>
            <v-list-tile ripple @click="$store.commit('selectTask', task.id)" :key="task.id">
              <task @remove="remove(task.id)" :object="task"></task>
            </v-list-tile>
          </template>
        </v-list>
      </div>
    </v-flex>

    <v-flex v-bind="taskEditLayout" class="animated scrollable elevation-4" v-if="showTaskEdit">
      <taskEdit @close="taskEditClose"/>
    </v-flex>

    <v-flex v-bind="actionEditLayout" class="animated scrollable elevation-4" v-if="showActionEdit">
      <action-edit @close="actionEditClose"/>
    </v-flex>
  </v-layout>
</template>

<script>
import { mapGetters } from "vuex";
import Task from "../components/tasks/Task.vue";
import actionEdit from "../components/ActionEdit";
import taskEdit from "../components/TaskEdit";

export default {
  name: "Tasks",
  components: {
    Task,
    taskEdit,
    actionEdit
  },
  computed: {
    tasks: function() {
      return this.$store.getters.tasks;
    },
    showTaskEdit: function() {
      return this.$store.state._currentTask !== null;
    },
    showActionEdit: function() {
      return this.$store.state._currentAction !== null;
    },
    listAndEdit: function() {
      return this.showTaskEdit && !this.showActionEdit;
    },
    listEditAndAction: function() {
      return this.showTaskEdit && this.showActionEdit;
    },
    taskListLayout: function() {
      return {
        md12: !this.listAndEdit && !this.listEditAndAction,
        md4: this.listAndEdit,
        md3: this.listEditAndAction
      };
    },
    taskEditLayout: function() {
      return {
        md8: this.listAndEdit,
        md6: this.listEditAndAction
      };
    },
    actionEditLayout: function() {
      return {
        md3: this.listEditAndAction
      };
    }
  },
  methods: {
    remove(id) {
      this.$store.commit("removeTask", id);
    },
    actionEditClose() {
      this.$store.commit("deslectAction");
    },
    taskEditClose() {
      this.$store.commit("deslectTask");
    }
  }
};
</script>
