<template>
  <div class="actionEdit">
    <v-toolbar dense>
      <v-toolbar-title>Edit</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <v-btn flat icon v-on="on" @click="close">
              <v-icon>close</v-icon>
            </v-btn>
          </template>
          <span>Close</span>
        </v-tooltip>
      </v-toolbar-items>
    </v-toolbar>
    <v-form class="px-5 py-4">
      <v-text-field label="Label" :value="actionObj.label" @input="applyLabel"></v-text-field>

      <Option
        :arg="arg"
        :currentValue="actionObj.options[arg.name]"
        v-for="(arg, index) in action.args"
        :key="currentTask + '-' + currentAction + '-' + index"
        @change="apply"
      />
    </v-form>
  </div>
</template>

<script>
import { mapState } from "vuex";
import { getAction } from "../tasker/actions";

import Option from "./actionedit/Option.vue";

export default {
  name: "ActionEdit",
  components: {
    Option: Option
  },
  computed: mapState({
    actionObj: state =>
      state.tasks[state._currentTask].actions[state._currentAction],

    action: state =>
      getAction(
        state.tasks[state._currentTask].actions[state._currentAction].id
      ),

    currentTask: "_currentTask",
    currentAction: "_currentAction"
  }),
  methods: {
    apply(key, value) {
      this.$store.commit("setCurrentActionOption", { key, value });
    },
    applyLabel(value) {
      this.$store.commit("setCurrentActionLabel", value);
    },
    close() {
      this.$emit("close");
    }
  }
};
</script>
