<template>
  <div class="conditionEdit">
    <v-form class="px-5 py-4">
      <Option
        :arg="arg"
        v-for="(arg, index) in condition.args"
        :key="currentProfile + '-' + index"
        @change="apply"
      />
    </v-form>
  </div>
</template>

<script>
import { mapState } from "vuex";
import { getCondition } from "../tasker/conditions";
import Option from "./actionedit/Option.vue";

export default {
  name: "ConditionEdit",
  components: {
    Option: Option
  },
  computed: mapState({
    condition: state =>
      getCondition(state.profiles[state._currentProfile].condition),

    currentProfile: "_currentProfile"
  }),
  methods: {
    apply(key, value) {
      this.$store.commit("setCurrentConditionOption", { key, value });
    }
  }
};
</script>
