<template>
  <v-dialog :value="show" scrollable persistent width="500">
    <v-card>
      <v-card-title class="headline" primary-title>{{ title }}</v-card-title>

      <v-card-text>
        <v-treeview
          activatable
          hoverable
          transition
          open-on-click
          :items="items"
          :search="search"
          @update:active="setSelected"
          @update:returnValue="$emit('close')"
        ></v-treeview>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-text-field label="Search" v-model="search"></v-text-field>
        <v-spacer></v-spacer>
        <v-btn
          v-if="selected !== null"
          color="primary"
          flat
          @click="$emit('selected', selected);$emit('close')"
        >Select</v-btn>
        <v-btn flat @click="$emit('close')">Cancel</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { resolveObj } from "../util.js";

export default {
  name: "SelectDialog",
  props: ["show", "actions", "title"],
  data: () => ({
    selected: null,
    search: ""
  }),
  computed: {
    items() {
      return this.buildItemTree(this.actions);
    }
  },
  methods: {
    buildItemTree(items, parent) {
      let tree = [];

      if (!parent) parent = "";

      Object.entries(items).forEach(([k, v], i) => {
        let item = {
          id: parent + "/" + k,
          name: k
        };

        if (typeof v === "object") {
          item.children = this.buildItemTree(v, item.id);
        }

        tree.push(item);
      });

      return tree;
    },

    setSelected(payload) {
      if (payload[0]) {
        this.selected = resolveObj(payload[0].substring(1), this.actions, "/");
      }
    }
  }
};
</script>
