<template>
  <div class="taskEdit">
    <v-toolbar dense>
      <v-toolbar-title>Actions</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <v-btn small color="success" v-on="on" @click="newAction=true">
              <v-icon>add</v-icon>
            </v-btn>
          </template>
          <span>New Action</span>
        </v-tooltip>
        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <v-btn flat icon v-on="on" @click="close()">
              <v-icon>close</v-icon>
            </v-btn>
          </template>
          <span>Close</span>
        </v-tooltip>
      </v-toolbar-items>
    </v-toolbar>
    <v-list class="elevation-2">
      <draggable v-model="actions">
        <template v-for="(action, index) in actions">
          <div :key="index">
          <v-divider :key="`${index}_divider`"></v-divider>
          <span v-text="action.label" :key="`${index}_label`"></span>
          <v-list-tile ripple @click="$store.commit('selectAction', index)" three-line :key="index">
            <v-list-tile-content>
              <v-list-tile-title v-text="getAction(action.id).name"></v-list-tile-title>
              <v-list-tile-sub-title>
                <span v-for="(value, key, index) in action.options" :key="index">
                  <template v-if="value">
                    <i v-text="key"></i>
                    <b v-text="value" class="px-2"></b>
                  </template>
                </span>
              </v-list-tile-sub-title>
            </v-list-tile-content>

            <v-list-tile-action>
              <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                  <v-btn small flat icon v-on="on" @click="removeAction(index)">
                    <v-icon>delete</v-icon>
                  </v-btn>
                </template>
                <span>Delete Action</span>
              </v-tooltip>
            </v-list-tile-action>
          </v-list-tile>
          </div>
        </template>
      </draggable>
    </v-list>

    <SelectDialog
      :show="newAction"
      :actions="actionList"
      title="Select Action"
      @close="newAction=false"
      @selected="select"
    />
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { getAction } from "../tasker/actions";
import draggable from "vuedraggable";

import SelectDialog from "./SelectDialog.vue";

export default {
  name: "TaskEdit",
  components: {
    SelectDialog,
    draggable
  },
  computed: {
    actions: {
      get() {
        return this.$store.getters.currentTask.actions;
      },
      set(value) {
        this.$store.commit("orderActions", value);
      }
    }
  },
  data: () => ({
    newAction: false,
    actionList: {}
  }),
  methods: {
    getAction,
    select(action) {
      this.$store.commit("addAction", action);
    },
    close() {
      this.$emit("close");
    },
    removeAction(id) {
      this.$store.commit("removeAction", id);
    }
  },
  created() {
    import(/* webpackChunkName: "taskerActions" */ "../tasker/actions.js").then(
      _actions => {
        this.actionList = _actions.default;
      }
    );
  }
};
</script>
