<template>
  <v-app :dark="darkMode">
    <v-toolbar dark app tabs>
      <v-toolbar-title class="headline">
        <span>Task Studio</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>

      <v-tooltip bottom>
        <template v-slot:activator="{ on }">
          <v-btn icon href="https://reddit.com/r/taskstudio" v-on="on">
            <v-icon>public</v-icon>
          </v-btn>
        </template>
        <span>Task Studio Community</span>
      </v-tooltip>

      <v-tooltip bottom>
        <template v-slot:activator="{ on }">
          <v-btn icon href="https://gitlab.com/task-studio/task-studio.gitlab.io" v-on="on">
            <v-icon>code</v-icon>
          </v-btn>
        </template>
        <span>Source Code</span>
      </v-tooltip>

      <v-tooltip bottom>
        <template v-slot:activator="{ on }">
          <v-btn icon @click="toggleDark()" v-on="on">
            <v-icon>invert_colors</v-icon>
          </v-btn>
        </template>
        <span>Toggle Theme</span>
      </v-tooltip>

      <v-tooltip bottom>
        <template v-slot:activator="{ on }">
          <v-btn icon @click="exprt()" v-on="on">
            <v-icon>import_export</v-icon>
          </v-btn>
        </template>
        <span>Export</span>
      </v-tooltip>

      <v-tabs slot="extension" fixed-tabs color="transparent" v-model="activeTab">
        <v-tab href="#profiles" active>Profiles</v-tab>
        <v-tab href="#tasks">Tasks</v-tab>
      </v-tabs>
    </v-toolbar>

    <v-content>
      <v-layout fill-height>
        <v-flex class="animated scrollable">
          <!-- this is stupid -->
          <!-- https://stackoverflow.com/a/52921375 -->
          <v-tabs-items v-model="activeTab">
            <v-tab-item value="profiles">
              <Profiles v-if="activeTab === 'profiles'"/>
            </v-tab-item>

            <v-tab-item value="tasks">
              <Tasks v-if="activeTab === 'tasks'"/>
            </v-tab-item>
          </v-tabs-items>
        </v-flex>
      </v-layout>
    </v-content>

    <v-dialog v-model="dialog" width="500">
      <v-card>
        <v-card-title class="headline" primary-title>WIP</v-card-title>

        <v-card-text>
          Please note that Task Studio is still
          <b>work in progress</b>
          . Many things will be missing, or will
          not work.
          <br>
          <br>Task Studio needs
          <b>your</b> help!
          <a href="https://redd.it/brqd0t/">Read More</a>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" flat @click="dialog=false">OK</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-snackbar
      bottom
      right
      :timeout="6000"
      :value="!(this.$vuetify.breakpoint.name === 'lg' || this.$vuetify.breakpoint.name === 'md')"
    >Task Studio is best used with high resolution screens.</v-snackbar>
  </v-app>
</template>

<script>
import { mapState } from "vuex";
import { download } from "./util.js";
import exporter from "./tasker/exporter.js";

export default {
  name: "App",
  components: {
    Profiles: () =>
      import(/* webpackChunkName: "profiles" */ "./views/Profiles.vue"),
    Tasks: () => import(/* webpackChunkName: "tasks" */ "./views/Tasks.vue")
  },
  data: () => ({
    activeTab: "profiles",
    dialog: true,

    darkMode: true
  }),
  computed: {
    ...mapState({
      showTaskEdit: state => state._currentTask !== null,
      showConditionEdit: state => state._currentCondition !== null,
      showActionEdit: state => state._currentAction !== null
    })
  },
  methods: {
    getDarkMode() {
      try {
        return JSON.parse(window.localStorage["darkMode"]);
      } catch (SyntaxError) {
        console.log("darkmode not found return false");
      }

      return true;
    },

    toggleDark() {
      this.darkMode = !this.darkMode;
      window.localStorage["darkMode"] = this.darkMode;
    },

    exprt() {
      download(
        "Task Studio Export.prj.xml",
        exporter(this.$store.state.profiles, this.$store.state.tasks)
      );
    }
  },
  mounted() {
    this.darkMode = this.getDarkMode();
    console.log(`screen size: ${this.$vuetify.breakpoint.name}`);
  }
};
</script>

<style lang="scss">
.animated {
  transition: all 0.2s ease-out;
}

.v-window__container {
  height: 100%;
}
</style>

<style lang="scss" scoped>
.scrollable {
  overflow-y: auto;
  max-height: calc(100vh - 96px);
}

@media only screen and (min-width: 959px) {
  .scrollable {
    max-height: calc(100vh - 112px);
  }
}
</style>
